@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            @* This link takes the user to their profile manage page *@
            <a class="nav-link text-dark fw-medium" asp-area="" asp-controller="Account" asp-action="Manage" title="Manage">
                <i class="bi bi-person-circle me-1"></i> Hello @User.Identity?.Name!
            </a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="" asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-danger border-0">
                    <i class="bi bi-box-arrow-right"></i> Logout
                </button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark fw-bold" asp-area="" asp-controller="Account" asp-action="Register">
                Register
            </a>
        </li>
        <li class="nav-item">
            @* Stylized Login button to make it pop *@
            <a class="btn btn-primary btn-sm rounded-pill px-4 ms-lg-2 shadow-sm" asp-area="" asp-controller="Account" asp-action="Login">
                Login
            </a>
        </li>
    }
</ul>